<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jsp_thltm_3</display-name>
  <welcome-file-list>
    <welcome-file>/admin/index/index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AdminIndexPhongbanController</servlet-name>
    <servlet-class>controller.AdminIndexPhongbanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexPhongbanController</servlet-name>
    <url-pattern>/admin/phongban/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddPhongbanController</servlet-name>
    <servlet-class>controller.AdminAddPhongbanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPhongbanController</servlet-name>
    <url-pattern>/admin/phongban/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelPhongbanController</servlet-name>
    <servlet-class>controller.AdminDelPhongbanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelPhongbanController</servlet-name>
    <url-pattern>/admin/phongban/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditPhongbanController</servlet-name>
    <servlet-class>controller.AdminEditPhongbanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditPhongbanController</servlet-name>
    <url-pattern>/admin/phongban/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNhanvienController</servlet-name>
    <servlet-class>controller.AdminIndexNhanvienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNhanvienController</servlet-name>
    <url-pattern>/admin/nhanvien/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNhanvienController</servlet-name>
    <servlet-class>controller.AdminDelNhanvienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNhanvienController</servlet-name>
    <url-pattern>/admin/nhanvien/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNhanvienController</servlet-name>
    <servlet-class>controller.AdminAddNhanvienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNhanvienController</servlet-name>
    <url-pattern>/admin/nhanvien/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNhanvienController</servlet-name>
    <servlet-class>controller.AdminEditNhanvienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNhanvienController</servlet-name>
    <url-pattern>/admin/nhanvien/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
</web-app>